html, body
{
	background: -webkit-linear-gradient(#c9de96 0%, #8ab66b 44%, #398235 100%);
	background: -o-linear-gradient(#c9de96 0%, #8ab66b 44%, #398235 100%);
	background: linear-gradient(#c9de96 0%, #8ab66b 44%, #398235 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 );
}

h1, h2, h3, p
{
	font: 20px/20px Georgia, sans-serif;
	color: #000608;
}

hr
{
	width: 50%;
	float: center;
	border-top: 4px double #535456;
}

.letter 
{
	float: left;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	margin: 0 10px;
}

.wrong-letter 
{
	float: left;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	margin: 0 10px;
}

.stats
{
	float: left;
	width: 100%;
	height: 65px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	line-height: 65px;
}

.no-underscore
{
	text-decoration: none;
}

#main
{
	overflow: none;
	background: url("../images/notebook-paper.png");
	width: 846px;
	height: 1100px;
	margin: 0px auto;
}

#writeable-space
{
	float: left;
	width: 79.5%;
	margin-top: 13%;
	margin-left: 20%;
	text-align: center;
}

#game{
	float: left;
	width: 60%;
	margin-top: 5%;
	margin-left: 20%;
}

#playboard
{
	overflow: auto;
	margin-top: 180px;
	width: 100%;
}

#wrong-letter-box
{
	width: 50%;
	float: right;
	display: inline-block;
	margin-top: 10px;
}

#word
{
	margin: 0px;
	display: inline-block;
}

#bad-guess-box
{
	width: 50%;
	float: left;
	padding-right: 10px;
	text-align: right;
	margin-top: 10px;
}

#button
{
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}

#preload
{ 
	display: none;
}